:root {

    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;

}

*{

    margin: 0;
    padding: 0;

}

nav {

    width: 5rem;
    height: 100vh;
    background-color: var(--bg-primary);
    position: fixed;
    transition: width 0.3 ease;
    overflow: hidden;

}

.navList{

   list-style: none;
   display: flex;
   flex-direction: column;
   align-items: flex;
   height: 100%;
   gap: 0.8em;
   padding: 1rem 0;

}

.navItem{

    width: 100%;

}

.navItem:last-child{

    margin-top: auto;

}
.navLink{

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
    cursor: pointer;
    height: 5rem;
    transition: all 0.3s ease;
    padding-left: 0;
    overflow: hidden;
    gap: 1.2em;

}

.navLink svg {
    
    font-size: 2.5rem;
    flex-shrink: 0;

}

.linkText {

    display: none;
    margin-left: 0;
    white-space: nowrap;
    text-align: left;

}

nav:hover{

    width: 16rem;
    justify-content: flex-start;

}


nav:hover .linkText {

    display: block;
    
}





